.cls-content{
	background-image: url("../image/body.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cls-title{
	background-image: url("../image/header.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cls-toolbar{
	background-image: url("../image/footer.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;	
}