@charset "utf-8";
/* Chapter1 : Swip이벤트 관련 */
.cls-pinwheel{
	border: 0px;
	background: transparent;
	
	background-image: url("../images/pinwheel_aquay.png") !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-top: -150px;
	margin-left: -150px;
}


.cls-pinwheel-animation{
	border: 0px;
	background: transparent;
	
	background-image: url("../images/pinwheel_aquay.png") !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-top: -150px;
	margin-left: -150px;
	
	-webkit-animation-name: myAnimation ;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;	
	animation-timing-function : ease-out;
}

@-webkit-keyframes myAnimation {
	0%     { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(1800deg); }
}

/* Chapter1 : Pinch 관련 */
.cls-pinch{
	border: 0px;
	background: transparent;
	
	background-image: url("../images/eyesight.gif") !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	
	position: absolute;
	top: 50%;
	left: 50%;
}