@charset "utf-8";
/*기본 Background */
.cls-content{
	background-image: url("../images/body.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/* TitleBar */
.cls-title{
	background-image: url("../images/header.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-bottom : 0 !important;
}
	.cls-title .x-title{
		color: black;
	}
	
	.cls-pretab{
		background-image: url('../images/back.png') !important;
		background-size: 100% 100% !important;
		border:0px !important;
		background-color: transparent !important;
		border-radius: 0 !important;
		background-repeat: no-repeat !important;
	}

	.cls-nexttab{
		background-image: url('../images/next.png') !important;
		background-size: 100% 100% !important;
		border:0px !important;
		background-color: transparent !important;
		border-radius: 0 !important;
		background-repeat: no-repeat !important;
	}
	


/*Toolbar*/
.cls-toolbar{
	background-image: url("../images/footer.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	border-top: 0 !important;
	
	height: 3.5em !important;
}
	.cls-toolbar-homeButton{
		background-image: url("../images/home.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-color: transparent !important;
		width: 38px !important;
		height: 38px !important;
	}
	.cls-toolbar-refreshButton{
		background-image: url("../images/re.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-color: transparent !important;
		width: 35px !important;
		height: 35px !important;
	}
/*Overlay*/
.cls-Overlay {
	background-image: url("../images/button_cancel.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent !important;
	
	border:0px;
	width: 40px;
	height: 40px;
	top: 5px;
	left: 275px;
	position: absolute;
	
	position: absolute;
}
	
/*Start : 메인메뉴 */
.cls-menu{
	background-image: url("../images/RootMenu/body_menu.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
	.cls-menu-basicButton{
		background-image: url("../images/RootMenu/basic.png") !important;
		background-size: 100% 100% !important;
		background-repeat: no-repeat !important;
		width: 70%;
		height: 12%; 
		top: 25%;
		left: 15.5%;
		border: 0px;
		background-color: transparent !important;
		position: absolute;
	}

	.cls-menu-callButton{
		background-image: url("../images/RootMenu/phone.png") !important;
		background-size: 100% 100% !important;
		background-repeat: no-repeat !important;
		width: 31%;
		height: 30%;
		top: 59%;
		left: 10%;
		border: 0px;
		background-color: transparent !important; 
		position: absolute;
	}

	.cls-menu-messageButton{
		background-image: url("../images/RootMenu/dial.png") !important;
		background-size: 100% 100% !important;
		background-repeat: no-repeat !important;
		width: 31%;
		height: 30%;
		top: 59%;
		left: 60%;
		border: 0px;
		background-color: transparent !important;
		position: absolute;
	}

/*임시 리스트형태 메뉴*/
.cls-submenulist{
	border-radius: 0;
	background: transparent;
	border-bottom-color: lightgray;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	cursor: context-menu;
}
