.cls-content{
	background-image: url("../images/second/bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cls-title{
	background-image: url("../images/second/header.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-bottom : 0 !important;
}

.cls-toolbar{
	background-image: url("../images/second/footer.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	border-top: 0 !important;
}

.cls-pretab{
	background-image: url('../images/second/back.png') !important;
	background-size: 100% 100% !important;
	border:0px !important;
	background-color: transparent !important;
	border-radius: 0 !important;
	background-repeat: no-repeat !important;
}

.cls-nexttab{
	background-image: url('../images/second/next.png') !important;
	background-size: 100% 100% !important;
	border:0px !important;
	background-color: transparent !important;
	border-radius: 0 !important;
}

.cls-home{
	background-image: url("../images/second/home.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cls-refresh{
	background-image: url("../images/second/re.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}