.cls-content{
	background-image: url("../images/second/bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cls-title{
	background-image: url("../images/second/header.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cls-toolbar{
	background-image: url("../images/second/footer.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;	
}

.cls-pretab{
	border: 0px;
	background-color: transparent;
	background-image: url("../images/second/back.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cls-nexttab{
	background-image: url("../images/second/next.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cls-home{
	background-image: url("../images/second/home.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cls-refresh{
	background-image: url("../images/second/re.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}