.cls-greenbtn{
	border: 0px;
	background-image: url("../images/button_green.png") !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	background-color: transparent !important;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-top: -150px;
	margin-left: -150px;
}

.cls-redbtn{
	border: 0px;
	background-image: url("../images/button_red.png") !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	background-color: transparent !important;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-top: -150px;
	margin-left: -150px;
}

.cls-star{/*기본*/
	border: 0px;
	background-image:url(../images/star.png) !important;
	background-color: transparent !important;
	background-size: 100% 100%;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 20%;
}

.cls-star2{/*탭홀드*/
	border: 0px;
	background-image:url(../images/star2.png) !important;
	background-color: transparent !important;
	background-size: 100% 100%;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 20%;
}

.cls-starhold{/*터치스타트*/
	border: 0px;
	background-image:url(../images/second/q.png) !important;
	background-color: transparent !important;
	background-size: 100% 100%;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 20%;
	
	-webkit-animation-name: tapHoldAnimation ;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 5
}

@-webkit-keyframes tapHoldAnimation {
	0%     { -webkit-transform: translate(5px, 0px); }
	25%     { -webkit-transform: translate(-5px, 0px); }
	50%     { -webkit-transform: translate(5px, 0px); }
	75%     { -webkit-transform: translate(-5px, 0px); }
	100% { -webkit-transform: translate(5px, 0px); }
}
