.cls-star{
	border: 0px;
	background-image:url(../images/star.png);
	background-color: transparent;
	background-size: 100% 100%;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 20%;
}

.cls-star2{
	border: 0px;
	background-image:url(../images/star2.png);
	background-color: transparent;
	background-size: 100% 100%;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 20%;
}
